body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
  overflow-x: hidden;
}

.horizontal-margin{
  margin-left: 20px;
  margin-right: 20px;
}

.no-scroll {
  overflow: hidden;
}
.landing-page-bg {
  position: absolute;
  top: -500px;
  transform: rotate(20deg);
}
.landing-page-bg-4k {
	display: none;
}
@media screen and (min-width: 1000px) {
  .landing-page-bg {
    position: absolute;
    top: -420px;
    transform: rotate(20deg);
  }
}
@media screen and (min-width: 1460px) {
	.landing-page-bg {
		display: none;
	}
	.landing-page-bg-4k {
		position: absolute;
		display: block;
		top: -1300px;
		transform: rotate(20deg);
	}
}
.landing-page {
	height: 100vh;
	width: 100vw;
  color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 1460px){
  .landing-page button{
    margin-left: 180px;
  }
}
@media screen and (max-width: 660px){
  section.landing-page button{
    margin-left: 0px;
  }
}
.section-1-bottom-left {
  position: absolute;
	bottom: 0px;
	left: 0;
  width: 15%;
}

@media screen and (min-width: 600px) {
  .code-snippet-page{
    height: 100vh;
  }
}
.code-snippet-page {
	position: relative;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.section-2-top-left {
	position: absolute;
	top: -1px;
	left: 0;
	width: 15%;
}
.section-2-bottom-right {
	position: absolute;
	bottom: -1px;
	right: 0;
	width: 10%;
}

.swiper-container {
  width: 60vw !important;
  border: 1px solid #e6e6e6;
}
.swiper-header ul{
  display: flex;
  align-items: flex-end;
  list-style: none;
  height: 80px;;
  margin: 12px;
  margin-bottom: 0px;
  padding: 4px;
  padding-bottom: 0px;
  border-bottom: 1px solid #e6e6e6;
  transform: translateY(1px);
}
.swiper-header ul li{
  cursor: pointer;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */  
  padding: 8px;
  margin-right: 8px;
  width: 48px;
  display: inline-block;
  border: 1px solid #e6e6e6;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-color: transparent;
  transition: .2s border;
  transform: translateY(1px);
}

.swiper-header ul li.active{
  border-bottom: 8px solid transparent;
}

.swiper-container img{
  width: 100%;
}
.swiper-wrapper {
	width: 60vw !important;
}
.swiper-slide{
	width: 100% !important;
}

@media screen and (max-width: 840px){
  .swiper-container {
    width: 96vw !important;
  }
  .swiper-wrapper {
    width: 96vw !important;
  }
}

@media screen and (min-width: 600px) {
  .compare-images-page{
    height: 100vh;
  }
  
}
.compare-images-page {
	position: relative;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #fff;
}

.compare-images-page .holder-place {
	display: flex;
	flex-direction: row;
}
.compare-images-page .text-holder {
	width: 40%;
	min-width: 320px;
	max-width: 768px;
	margin: 8px;
}
.compare-images-page .text-holder img {
	width: 100%;
}

@media screen and (min-width: 860px) {
  .pricing-page{
    height: 100vh;
  }
}
.pricing-page {
	position: relative;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #fff;
}
.footer {
	position: relative;
	/* height: 100vh; */
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #fff;
}
.section-3-top-right {
	position: absolute;
	top: 0;
	right: 0px;
	width: 10%;
}
.section-3-bottom-left {
	position: absolute;
	bottom: 0;
	left: 0px;
	width: 10%;
}
.section-4-top-left {
	position: absolute;
	top: 0;
	left: 0px;
	width: 10%;
}
.navbar {
	height: 20vh;
	width: 100vw;
	position: absolute;
	top:0;
	left:0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: space-around;
}
.nav-logo {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 10px;
	left: 7vw;
}

.nav-links {
	align-self: flex-end;
	margin-right: 7vw;
}
.nav-links ul {
	display: flex;
	list-style: none;
}

.nav-links ul li {
	margin: 0 3vw;
	font-size: 1.2rem;
}
.hero-text {
	line-height: 2rem;
  text-align: left;
  z-index: 10;
}

.image-preview {
  width: 35vw;
  height: 50vh;
  background: url('/assets/images/hero_image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  position: relative;
}
.image-preview-pixelated {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url('/assets/images/hero_image_pixelated.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;  
  z-index: 99;
  animation-name: fadeOut;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

/* IMAGE IPAD AND SUCH */

@media screen and (max-width: 800px){
  .image-preview {
    width: 25vw;
    height: 35vh;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
h1 {
	font-size: 3rem;
	font-weight: 700;
}
h2 {
	font-size: 1.5rem;
	font-weight: 400;
}
h3 {
	font-size: 1rem;
	font-weight: 200;
}

/* BUTTON STYLES */
.button {
	width: 170px;
	height: 45px;
	border: none;
	transition: .2s ease-in-out all;
	border-radius: 5px;
}
.primary {
	background: #0FB9B1;
	color: #fff;
	font-size: 1rem;
	-webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.secondary {
	background: transparent;
	border: 1px solid #fff;
	border-radius: 5px;
	color: #fff;
	font-size: 1rem;
}
.pricing {
	background: #fff;
	color: #0FB9B1;
	font-size: 1rem;
	-webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.primary:hover {
	transform: scale(1.1);
	cursor: pointer;
  box-shadow: 0 12px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.3);
}
.secondary:hover {
	transform: scale(1.1);
	cursor: pointer;
}
.pricing:hover {
	transform: scale(1.1);
	cursor: pointer;
}
/* END */
a {
	text-decoration: none;
  
}
a:visited {
	text-decoration: none;
}
.swiper-container {
	width: 60vw;
}
.holder-place {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: space-around;
	flex-wrap: wrap;
}
@media screen and (max-width: 860px) {
  .holder-place {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
  }
}
.placeholder {
	width: 405px;
	height: 355px;
	background: grey;
	margin: 5px;
}
.pricing-placeholder {
  position: relative;
	width: 270px;
  height: 450px;
  border-radius: 5px;
	/* background: url('assets/images/updated_bg_2.png'); */
	background-size: cover;
	background-position: center;
  background-repeat: no-repeat;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.50);
	margin: 8px;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
  text-align: center;
  transition: transform .3s, box-shadow .35s;
}
/* .pricing-placeholder:hover{
  transform: scale(1.02);
  box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.50);
} */

.pricing-placeholder.one{
  background: linear-gradient(135deg, #fa8231 0%,#f7b731 100%);
}
.pricing-placeholder.two{
  background: linear-gradient(135deg, rgba(235,59,90,1) 0%,rgba(247,183,49,1) 60%);
}
.pricing-placeholder.three{
  background: linear-gradient(135deg, rgba(235,59,90,1) 0%,rgba(250,130,49,1) 50%,rgba(247,183,49,1) 100%);
}
.pricing-placeholder h3 {
	font-weight: 400;
}
.pricing-placeholder h5 {
	font-weight: 300;
}
.pricing-placeholder span {
	font-size: 1.7rem;
	font-weight: 500;
}
.pricing-gazelle {
  position: absolute;
  top:0;
  width: 200px;
  height: auto;
}
.text-holder {
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-content: center;
}
.text-holder h3 {
	align-self: center;
	max-width: 300px;
  /* text-shadow: 1px 1px 20px #555; */
}
.escape-svg {
  margin-top: 40px;
  margin-bottom: -35px;
}
.documentation-box {
	width: 65vw;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-docs {
  width: 90%;
  height: 5vh;
  margin-bottom: 15px;
  padding-left: 20px;
}
.docs-ul {
  display: flex;
  list-style-type: none;
  color: #0FB9B1;
  padding: 12px;
}
.docs-ul li {
  margin-right: 10px;
}

@media screen and (max-width: 340px){
  .docs-ul li {
    font-size: 12px;
  }
}

.documentation-box a {
  color: #0FB9B1;
}
.documentation-box a:hover {
  color: rgb(22, 151, 145);
}
.documentation-result {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}
footer {
	background: url(/assets/images/updated_bg_2.png);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-content-box {
	width: 100%;
	height: 100%;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.footer-content-box ul {
	width: 60%;
	display: flex;
	justify-content: center;
	align-content: center;
	list-style-type: none;
	padding: 0;
}
.footer-content-box ul a {
  color: #fff;
  text-decoration: underline;
}

@media screen and (min-width: 460px){
  .footer-content-box ul a {
    margin: 0 3px;
  }
}

@media screen and (min-width: 560px){
  .footer-content-box ul a {
    margin: 0 6px;
  }
}



@media screen and (max-width: 500px) {
  .documentation-box {
    width: 100%;
  }
  .footer-content-box ul {
    flex-flow: wrap;
    width: 60%;
  }
  .footer-content-box ul li {
    padding-right: 5px;
  }
  .footer-content-box ul a {
    color: #fff;
  }
}

/*
* Modal styles
*/

.modal{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  
}

.modal .content{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 5px;
  width: 80vw;
  max-width: 768px;
  left:0;
  right:0;
  top: 50%;
  transform: translateY(-50%);
  margin-left:auto;
  margin-right:auto;
  padding: 16px;
  z-index: 101;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.50);
}

.modal .content h1 {
  font-size: 22px;
}

.modal .content p {
  font-size: 1€px;
  max-width: 600px;
}
.modal .content label{
  color: #555;
  font-size: 10px;
}

.modal .content input{
  font-size: 14px;
  padding: 8px;
  border: 1px solid transparent;
	border-bottom-color: #444444;
	transition: .1s ease-in-out all;
}
.modal .content input:focus {
	border-bottom-color: #0FB9B1;
}

.modal .content button[type="submit"]{
	width: 100%;
	margin-top: 10px;
}

.modal .background{
  background: #2222229c;
  width: 100%;
  height: 100%;
}

.modal:not(.open){
  display: none;
}

/*
* Nav hover underline-effect
*/

nav.navbar a {
	position: relative;
	text-decoration: none;
	padding-bottom: 8px;
	color: #eee;
}
nav.navbar a:before, nav.navbar a:after {
	content: '';
	position: absolute;
	bottom: 2px;
	left: 0;
	right: 0;
	height: 2px;
	background-color: #eee;
}
nav.navbar a:before {
	opacity: 0;
	-webkit-transform: translateY(-8px);
  transform: translateY(-8px);
	transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
	transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
nav.navbar a:after {
	opacity: 0;
	-webkit-transform: translateY(4px);
  transform: translateY(4px);
	transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
	transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
nav.navbar a:hover:before, nav.navbar a:hover:after, nav.navbar a:focus:before, nav.navbar a:focus:after {
	opacity: 1;
	-webkit-transform: translateY(0);
  transform: translateY(0);
}
nav.navbar a:hover:before, nav.navbar a:focus:before {
	transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
	transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
nav.navbar a:hover:after, nav.navbar a:focus:after {
	transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
	transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/*
* MOBILE STYLES
*/

@media screen and (max-width: 600px) {
	.landing-page {
		height: 100vh;
		width: 100vw;
		color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		position: relative;
	}
	.landing-page-bg {
		position: absolute;
		top: -500px;
		transform: rotate(20deg);
	}
	.navbar {
		height: 10vh;
	}
	.navbar .nav-logo {
		width: 60px;
		height: 60px;
	}
	.hero-text {
		line-height: 2rem;
		text-align: center;
		z-index: 10;
		margin-top: 5vh;
  }
  
  @media screen and (max-width: 460px){
    .hero-text{
      margin-top: 120px;
    }
  }
  
	.hero-text h1 {
		font-size: 2rem;
	}
	.hero-text h2 {
		font-size: 1.2rem;
	}
	.hero-text h3 {
		font-size: 0.8rem;
	}
	.image-preview {
		width: 75vw;
		height: 40vh;
		background: url('/assets/images/hero_image.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 5px;
		position: relative;
	}
	.image-preview-pixelated {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: url('/assets/images/hero_image_pixelated.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 5px;  
		z-index: 99;
		animation-name: fadeOut;
		animation-duration: 8s;
		animation-iteration-count: infinite;
	}
	.section-4-top-left, .section-3-bottom-left, .section-3-top-right, .section-2-bottom-right, .section-2-top-left, .section-1-bottom-left {
		display: none;
	}
}

/*
* Helper Classes
*/

.mb {
  margin-bottom: 20px;
}

.text-center{
  text-align: center;
}

@media screen and (max-width: 500px){
  .mt-mobile{
    margin-top: 40px;
  }
  
  .mb-mobile {
    margin-bottom: 20px;
  }

  .text-center-mobile{
    text-align: center;
  }
}